@font-face {
    font-family: 'Salam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap') format('truetype');
  }
