
  /* *{
    box-sizing: border-box;
  } */
  body {
    margin:0;
    padding: 0;
  }
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background: #3a24f0;
  z-index: 1;
  
  }


  .brand-title {
    font-size: 1.5rem;
    margin: .5rem;
  }

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links ul {
list-style: none;
}
.navbar-links a {
  text-decoration: none;
  padding: 1rem;
  color: black;
  display: block;
}
.navbar-links a:hover{
  background-color: grey;
}